.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1C86EE;
  height: 30px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  display:block;
  border: 1px solid #eee;
  margin: 10px 0 0 500px;
  box-shadow: 0 2px 2px #ccc;
  width: 200px;
  padding: 20px;
  align-self: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
